pydantic==1.10.7
fastapi==0.95.0

torch
torchvision
transformers
numpy==1.26.4
opencv-python-headless==4.9.0.80
accelerate==0.26.1
insightface==0.7.3
diffusers==0.25.1
onnxruntime
huggingface-hub==0.20.3
safetensors==0.4.2
peft
einops
omegaconf
controlnet_aux
